body,
p,
h2,
ul {
  margin: 0; }

a {
  text-decoration: none; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 0 50px; }
  .header__logo {
    padding: 10px 0; }

.nav__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__link {
  font-size: 12px;
  font-weight: 500;
  line-height: 60px;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  margin-left: 20px;
  white-space: nowrap; }
  .nav__link:hover {
    color: #00acdc; }

.nav .is-active {
  color: #00acdc;
  position: relative; }
  .nav .is-active::after {
    content: "";
    position: absolute;
    height: 4px;
    border-radius: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00acdc; }

body {
  font-family: Roboto, sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 13px; }

.catalog-heading {
  visibility: hidden;
  height: 0;
  margin: 0; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 944px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px auto;
  padding: 40px; }

.main__product {
  margin-bottom: 51px; }

.product {
  border: 1px solid #f3f3f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 200px;
  padding: 14px; }
  .product__photo {
    display: block;
    width: 160px;
    height: 134px;
    margin: 16px auto 45px; }
  .product__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px; }
  .product__code {
    margin-top: 5px; }
  .product__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 16px; }
  .product__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 17px; }
  .product__price-number {
    font-size: 16px;
    font-weight: bold;
    line-height: 19px; }
  .product__buy {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #00acdc;
    border-radius: 5px;
    height: 40px;
    text-transform: uppercase;
    border: 1px solid #00acdc;
    color: white;
    margin-top: 20px; }
    .product__buy:hover {
      background-color: white;
      color: #00acdc; }

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 91px;
  padding: 1px; }
  .stars__item {
    height: 15px;
    width: 15px; }
  .stars_1 .stars__item:nth-child(1) ~ .stars__item {
    background: url("../images/star.svg") no-repeat; }
  .stars_1 .stars__item:nth-child(-n + 1) {
    background: url("../images/star-active.svg") no-repeat; }
  .stars_2 .stars__item:nth-child(2) ~ .stars__item {
    background: url("../images/star.svg") no-repeat; }
  .stars_2 .stars__item:nth-child(-n + 2) {
    background: url("../images/star-active.svg") no-repeat; }
  .stars_3 .stars__item:nth-child(3) ~ .stars__item {
    background: url("../images/star.svg") no-repeat; }
  .stars_3 .stars__item:nth-child(-n + 3) {
    background: url("../images/star-active.svg") no-repeat; }
  .stars_4 .stars__item:nth-child(4) ~ .stars__item {
    background: url("../images/star.svg") no-repeat; }
  .stars_4 .stars__item:nth-child(-n + 4) {
    background: url("../images/star-active.svg") no-repeat; }
  .stars_5 .stars__item:nth-child(5) ~ .stars__item {
    background: url("../images/star.svg") no-repeat; }
  .stars_5 .stars__item:nth-child(-n + 5) {
    background: url("../images/star-active.svg") no-repeat; }

/*# sourceMappingURL=main.css.map */
